body{
    font-family: $fontText;
    margin: 0;
    padding: 0;
    background-color: $colorHeading;
}

.icon {
    width: 120px;
}

p {
    text-align: justify;
    font-family: $fontText;
}

.hero-wrapper {
    display: block;
    background-image: url(/lesson13/images/OaklandTemple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

ul {
    padding: 0;
}
.navigation li:first-child {
    display: block;
}

.navigation li {
    list-style: none;
    flex: 1 1 auto;
    text-align: center;
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.home-heading {
    color: $colorHeading;
    font-size: 70px;
    text-align: center;
}

a {
    font-size: 20px;
    font-family: $fontText;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: #6E6E72;
}

nav {
    grid-column: 4 / 5;
}

.main-wrapper {
    display: grid;
    grid-template-columns: (1fr 2fr 2fr 1fr);
}

.home-headline {
    grid-column: 2 / 4;
    text-align: center;
}

.home-paragraph {
    grid-column: 2 / 4;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr; 
    background-color: #D2C2B2;
    padding: 10px;
    justify-items: center;
}

.ham {
    text-align: center;
}

iframe {
    grid-row: 1;
    border-radius: 5px;
}

.contact {
    grid-row: 2;
}

.responsive li {
    display: block;
}