@import url('https://fonts.googleapis.com/css?family=Mansalva|Arvo');

:root {
    --primary-color: #F4BF91;
    --secondary-color: #FFE8C2;
    --accent1-color: #E4FFE1;
    --accent2-color: white;

    --heading-font: "Mansalva";
    --paragraph-font: "Arvo";

    --headline-color-on-white: black;
    --headline-color-on-color: #E4FFE1;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: #E4FFE1;
    --text-background-color: black;
    --nav-link-color: #E4FFE1;
    --nav-background-color: black;
    --nav-hover-link-color: #838C78;
    --nav-hover-background-color: black;
    --footer-background-color: black;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--headline-color-on-color);
    margin-bottom: -17px;
}

img {
    width: 140px;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h2 {
    text-align: center;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #404040;
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-style: italic;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    border-bottom: 1px groove white;
}


.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navigation a:hover {
    color: white;
    background-color: gray;
}

.content-box {
    display: block;
    padding: 15px;
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    border: 1px groove black;
}

footer {
    margin-top: 15px;
    color: white;
    background-color: #404040;
    font-family: var(--paragraph-font);
    padding: 10px;
    text-align: center;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: gray;
}

.responsive li {
    display: block;
}





/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .content-box {
        margin-left: 40px;
        margin-right: 40px;
    }

    footer {
        margin-left: 25px;
        margin-right: 25px;
    }
}