body {
    font-family: $fontText;
    margin: 0;
    padding: 0;
    background-color: $colorHeading;
}

.icon {
    width: 120px;
}

p {
    text-align: justify;
    font-family: $fontText;
}

.hero-wrapper {
    display: block;
    background-image: url(/lesson16/images/spiritual.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

ul {
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    list-style: none;
    flex: 1 1 auto;
    text-align: center;
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

.home-heading {
    color: $colorHeading;
    font-size: 45px;
    text-align: center;
}

a {
    font-size: 20px;
    font-family: $fontText;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: #6E6E72;
}

nav {
    grid-column: 4 / 5;
}

.main-wrapper {
    display: grid;
    grid-template-columns: (1fr 9fr 1fr);
}

.home-headline {
    grid-column: 2;
    text-align: center;
}

.home-paragraph {
    grid-column: 2;
}


.box-wrapper {
    grid-row: 3;
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #D2C2B2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-wrapper2 {
    grid-row: 7;
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #D2C2B2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-wrapper3 {
    grid-row: 11;
    grid-column: 2 / 3;
    padding: 20px;
    background-color: #D2C2B2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img1 {
    width: 90%;
    grid-column: 2 / 4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img2 {
    width: 90%;
    grid-column: 2 / 4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.five-day-forecast {
    display: flex;
    flex-wrap: nowrap;
    font-family: $fontText;
    justify-content: space-between;
}

.forecast-content {
    text-align: center;
}

.day {
    background: #010101;
    background: -webkit-linear-gradient(top right, #010101, #8B9193);
    background: -moz-linear-gradient(top right, #010101, #8B9193);
    background: linear-gradient(to bottom left, #010101, #8B9193);
    border: outset 1px gray;
    padding: 10px;
    box-shadow: 3px 3px 10px #88888879;
    width: 100%;
}

.day:hover {
    background: #010101;
    background: -webkit-linear-gradient(top left, #010101, #8B9193);
    background: -moz-linear-gradient(top left, #010101, #8B9193);
    background: linear-gradient(to bottom right, #010101, #8B9193);
}

.map-link {
    font-size: 11px;
}

h4 {
    margin-top: 5;
}

.column,
.columns {
    float: left;
    margin: 0 1% 40px;
    justify-self: end;
}

/*.home-headline2 {
    grid-column: 2 / 4;
    text-align: center;
}

.home-paragraph2 {
    grid-column: 2 / 4;
}*/

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #D2C2B2;
    padding: 10px;
    justify-items: center;
}

.ham {
    text-align: center;
}

iframe {
    grid-row: 1;
    border-radius: 5px;
}

.contact {
    grid-row: 2;
}

.responsive li {
    display: block;
}