@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

img {
    width: 20%;
    box-shadow: 0 0 30px #444;
    float: right;
    border-radius: 0 10px 0 0;
    margin-top: -92px;
    position: relative;
    max-width: 100%;
}

h1,
h2 {
    font-family: 'Permanent Marker', cursive;
}

h1,
footer {
    background-color: #2B3D41;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 17px;
}

hr {
    width: 75%;
    margin-left: 0;
}

body {
    font-family: sans-serif;
}

.grid {
    display: block;
    
}

footer {
    font-size: 14px;
}

.grid a:hover {
    color: gray;
}

footer a:visited {
    color: white;
} 