@import url('https://fonts.googleapis.com/css?family=Mansalva|Arvo');

:root {
    --primary-color: #F4BF91;
    --secondary-color: #FFE8C2;
    --accent1-color: #E4FFE1;
    --accent2-color: white;

    --heading-font: "Mansalva";
    --paragraph-font: "Arvo";

    --headline-color-on-white: black;
    --headline-color-on-color: #E4FFE1;
    --paragraph-color-on-white: black;
    --paragraph-color-on-color: #E4FFE1;
    --text-background-color: black;
    --nav-link-color: #E4FFE1;
    --nav-background-color: black;
    --nav-hover-link-color: #838C78;
    --nav-hover-background-color: black;
    --footer-background-color: black;
}

.top-banner {
    display: block;
    text-align: center;
    background: lightyellow;
    padding: 5px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--headline-color-on-color);
    margin-bottom: -17px;
}

.icon {
    width: 140px;
}

p {
    font-style: italic;
    font-family: var(--paragraph-font);
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h2 {
    text-align: center;
}

.h2-5day {
    margin-top: 160px;
}

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #404040;
    font-family: var(--paragraph-font);
    font-weight: bold;
    font-style: italic;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    border-bottom: 1px groove white;
}


.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navigation a:hover {
    color: white;
    background-color: gray;
}

.main-image {
    max-width: 100%;
    box-shadow: 3px 3px 10px #88888879;
}

.main-div {
    position: relative;
}

.weather-summary {
    position: absolute;
    top: -50px;
    margin: 50px;
    background: radial-gradient(white, gray);
    border: solid 5px white;
    padding: 10px;
    box-shadow: 3px 3px 10px #88888879;
    text-align: left;
    opacity: 0.9;
    font-family: var(--paragraph-font);
}

.five-day-forecast {
    display: flex;
    flex-wrap: nowrap;
    font-family: var(--paragraph-font);
    justify-content: space-between;
}

.day {
    display: block;
    background: radial-gradient(white, gray);
    border: solid 5px white;
    padding: 10px;
    box-shadow: 3px 3px 10px #88888879;
    width: 250px;
    text-align: center;
    opacity: 0.9;
}

/*.content-box {
    display: block;
    padding: 15px;
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    border: 1px groove black;
}*/

.article {
    display: block;
    border: solid 5px white;
    padding: 15px;
    box-shadow: 3px 3px 10px #88888879;
    max-width: 100%;
}

.group-people {
    width: 200px;
    float: right;
}

footer {
    margin-top: 15px;
    color: white;
    background-color: #404040;
    font-family: var(--paragraph-font);
    padding: 10px;
    text-align: justify;
    font-style: italic;
}

.map-image {
    max-width: 100%;
}

.footer-div {
    display: block;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    color: gray;
}

.responsive li {
    display: block;
}

/* Media Query for medium views */
@media only screen and (min-width: 32.5em) {
    
}
